/*
 * @Author: kiki.huanglei 
 * @Date: 2017-08-02 15:36:43 
 * @Last Modified by: kiki.huanglei
 * @Last Modified time: 2017-08-02 15:43:02
 */

html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    border: 0;
	font-size: 100%;
}

body {
    margin: 0;
    padding: 0;
}

article,
aside,
footer,
header,
nav,
section,
figcaption,
figure,
main {
    display: block;
}

img {
    border-style: none;
}

canvas {
    display: inline-block;
}